<footer>

    <p>Privacy policy</p>
    <p>Contacts</p>
    <p>FAQ</p>
    <p><a href="tel: 8909090900909090">call us 8909090900909090</a></p>
    <p><a href="mailtoexaple@gmail.com">mail to exaple@gmail.com</a></p>

<div style="margin: 0px; padding: 100px 20px 100px 20px">

    <div class="flex-box" style="display:flex;justify-content:center;">
         <div class="row">uruz</div>
         <div class="row">tiwaz</div>
         <div class="row">othala</div>
    </div>

    <div class="flex-box" style="display:flex;justify-content:center;">
         <div class="row">uruz</div>
         <div class="row">tiwaz</div>
         <div class="row">othala</div>
    </div>

    <div class="flex-box" style="display:flex;justify-content:center;">
         <div class="row">uruz</div>
         <div class="row">tiwaz</div>
         <div class="row">othala</div>
    </div>
</div>

</footer>